body{
background-color: #3679c9;
font-size: 30px;
font-family: Arial;
color: #25003d;


}
.c1{font-size: 30; color: #00fff1;}
.pfont{font-size: 20;}

.head{font-size: 50;}

.p-for-secondpage{background-color: #A4B8ED;
font-size: 20;


}
.pforattending{background-color: #1fe0b2;
font-size: 30;

}

.pcancellation{background-color: #ff0900;

font-size: 50}

.cancellation{color: #b9ff00;

font-size: 35;}